/* single.php */
.single {
    background-color: black;
    color: white;
    padding-bottom: 80px;
    @include overTab {
        padding-left: 120px;
        padding-bottom: 165px;
    }
    .breadcrumb {
        width: 80%;
        margin-top: 66px;
        margin-left: 40px;
        @include overTab {
            margin-left: 0;
        }
        .breadcrumb-list {
            padding-top: 30px;
            display: block;
            @include overTab {
                display: flex;
            }
        }
        .breadcrumb-item {
            font-size: 16px;
            white-space: normal;
            @include overTab {
                font-size: 20px;
                white-space: nowrap;
            }
        }
    }
    .single-section {
        width: 80%;
        margin: 0 auto;
        @include overTab {
            margin: 0;
        }
    }
    .single-title {
        @include overTab {
            width: 826px;
        }
        .category {
            width: 120px;
            height: 32px;
            background-color: #4D0000;
            text-align: center;
            line-height: 32px;
            margin: 0 auto;
            margin-top: 40px;
            @include overTab {
                margin-top: 70px;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .main {
        margin-top: 44px;
        @include overTab {
            font-size: 36px;
        }
    }
    .entry {
        @include overTab {

            display: flex;
        }
    }
    //２カラムの左側の部分
    .single-entry {
        @include overTab {
            width: 826px;
            width: percentage(826/1366);

        }
    }

    .wrapper {
        margin-top: 37px;
        @include overTab {
            width: 826px;
        }
    }
    .info {
        .time {
            font-size: 24px;
            margin-bottom: 30px;
            text-align: center;
            @include overTab {
                float: right;
                text-align: start;
            }
        }
    }
    .body {
        .image {
            @include overTab {
                width: 200px;
                margin: 0 auto;
                margin-top: 30px;
                width: auto;

            }
        }
        h2 {
            margin-top: 40px;
            margin-bottom: 40px;
            padding: 14px 20px;
            font-size: 36px;
            background-color: #030F55;
            @include overTab{
            }
        }
        h3 {
            font-size: 26px;
            border-left: 8px solid #030F55;
            margin-top: 40px;
            margin-bottom: 40px;
            @include overTab {
                padding-left: 14px;

            }
        }
        h4 {
            font-size: 26px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        p {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    /* single.php 関連記事 */
    .single-widget {
        @include overTab {
            margin-top: -8px;
            margin-left: 180px !important;
        }
    }
    .widget-section {
        @include overTab {
            margin-left: 56px;
        }
        > .title{
            font-size: 26px;
            background-color: #030F55;
            text-align: center;
            height: 73px;
            line-height: 73px;
            margin: 0 auto;
            @include overTab {
                margin-top: 35px;
                width: 369px;
            }
        }
        .item {
            display: flex;
            @include overTab {
                width: 369px;

            }
            + .item {
                margin-top: 42px;
            }
            .image {
                width: 100px;
            }
            .title {
                margin-left: 17px;
                flex: 1 ;
                width: 152px;
                text-decoration: underline;
            }
        }
    }
    //おすすめ記事
    .widget-relative {
        > .title {
            margin-top: 35px;
            font-size: 26px;
            background-color: #030F55;
            text-align: center;
            height: 73px;
            line-height: 73px;
            @include overTab {
                    width: 369px;

            }
        }
        .list {
            margin-top: 30px;
        }
    }
}
